<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap/env.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         verbose="true">
    <testsuites>
        <testsuite name="Application suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>